!!! Strict
/ Copyright 2010, Westside Consulting LLC, Ann Arbor, MI, USA

%html{html_attrs}
  :plain
    <head>
      <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
      <meta http-equiv="content-script-type" content="text/javascript" />
      <title>Bus Bingo</title>
      <script type="text/javascript" src="/views/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="/views/script.js"></script>
      <link rel="stylesheet" href="/views/style.css" type="text/css" media="all" />
    </head>

  %body#card
    -# = pp @card
    %hidden#card-id{:value => "#{@card.id}"}

    #menu
      %ul
        %li
          %a(href='/about' title="About Bus Bingo") About
        %li
          %a(href='/privacy' title="Our privacy policy") Privacy
        %li
          %a(href='#' onclick="window.print(); return false;" title="Print your card") Print
        %li
          %a(href='/logout' title="End session (for shared computers)") Logout

    #page-header
      %h1
        Bus Bingo 
        %span#you-have-bingo{:class => @card.has_bingo? && "on"}
          %span#you-have-bingo-inside - You have Bingo!

      #instructions
        :markdown
          - Hold your mouse over each square for an explanation of its meaning.
          - Click on squares that match your experiences while commuting today.
          - When you have bingo, you will be entered in a drawing.

    %div#bingo-card
      - i = 0
      - (0..4).each do |row|
        - (0..4).each do |col|
          - tile = @card.tiles[i]
          - tt = tile.tile_template
          %div{:class => [%w(cell picture), "row#{row}", "col#{col}"]}
            %a{:href => "#"}
              %img{:src => "/views/images/#{tt.image_filename}", :title => tt.desc, :alt => tt.name }
          %div{:class => [%w(cell checkmark), "row#{row}", "col#{col}", tile.covered? && "on"]}
            %a{:href => "#"}
              %img{:src => "/views/images/checkmark.png", :title => tt.desc, :alt => tt.name }
          - i += 1
    %div#copyright= @copyright
